body{
	background: #D3CCE3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
	font-size: 30px;
}

label {
	padding-left: 30px
}

.container{
	margin-left: 2%;
}

.box{
    background-color: #f5f7f8;
    width: 600px;
    border-radius: 20px;
    padding: 30px 0;
    margin: 0 100px 40px 0;
}

#spacer{
	    margin-bottom: 60px;
}
.btn{
	background: transparent;
	margin-left: 30px;
	border-radius: 4px;
	height: 40px;
	width: 100px;
	outline: none;
	font-size: 16px;
}

.btn1{
	border:1.5px solid #317b22;
	color: #317b22;
}

.btn1:hover {
  background: #317b22;
  color: #f5f5f5;
  border: none;
  }

.btn2{
	border :1.5px solid #b80c09;
	color:#b80c09;
	width: 120px;
}

.btn2:hover{
  background: #b80c09;
  color: #f5f5f5;
  border: none;
}

.boxinput{
	height:38px;
	width:550px;
	border-radius: 10px;
	margin: 10px 0 10px 30px;
	border: 0.5px solid #edf0f2;
	padding-left: 10px;
	}

.boxinput:focus {
	outline: 0.5px solid #edf0f2;
}

.budget-icon,
.expense-icon {
  font-size: 2.5rem;
  color: #05668d;
}

.icon{
	height: 45px;
	width: 45px;
}

.floating{
	float: left;
}

.output{
    width: 120px;
    margin-right: 40px;
    padding: 20px;
    float: left;
    text-align: center;
}

.amtone, #currency{
	color: #317b22;
	font-size: 26px;
}

.amttwo, #currency2{
	color: #b80c09 !important;
	font-size: 26px;
}

th, td {
  padding: 10px 60px 10px 20px;
  text-align: center;
  }

td{
  font-size: 16px;
}

th{
  font-size: 20px;
}

.fa-trash {
  padding: 10px 40px;
  text-align: center;
  color: #b80c09;
}

.remove {
	display: none;
}