body{
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div {
	text-align: center;
	margin: 200px 0 268px 0;
	color: #f5f5f5;
}

h1, h3{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

h1{
	font-size: 64px;
	margin-bottom: 10px;
}

h3{
	font-size: 40px;
	margin-top: 10px;
}

.btn{
	background: #f5f5f5;
	margin-left: 30px;
	border-radius: 4px;
	height: 40px;
	width: 100px;
	outline: none;
	font-size: 25px;
	border:1.5px solid #317b22;
	color: #317b22;
}

.btn:hover {
  background: #317b22;
  color: #f5f5f5;
  border:1.5px solid #f5f5f5;
  }